flow.json
[
    {
        "id": "b4b9370fa496a92d",
        "type": "tab",
        "label": "获取温湿度计和光照度数据",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a885ccf612a58001",
        "type": "subflow",
        "name": "通过MQTT发送Modbus指令数据",
        "info": "通过MQTT发送Modbus指令从而获取设备数据",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "2e52488f6ad914c0"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "device_address",
                "type": "num",
                "value": "1",
                "ui": {
                    "icon": "font-awesome/fa-tag",
                    "label": {
                        "zh-CN": "设备地址"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 0
                    }
                }
            },
            {
                "name": "function_code",
                "type": "num",
                "value": "3",
                "ui": {
                    "icon": "font-awesome/fa-tag",
                    "label": {
                        "zh-CN": "功能码"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 1,
                        "max": 4
                    }
                }
            },
            {
                "name": "start_address",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-tag",
                    "label": {
                        "zh-CN": "起始地址"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 0
                    }
                }
            },
            {
                "name": "read_number",
                "type": "num",
                "value": "2",
                "ui": {
                    "icon": "font-awesome/fa-tag",
                    "label": {
                        "zh-CN": "读取数量"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 1
                    }
                }
            },
            {
                "name": "topic",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "label": {
                        "zh-CN": "主题"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#a5b4fc",
        "icon": "@bitpoolos/edge-modbus/bitpool.svg",
        "status": {
            "x": 980,
            "y": 60,
            "wires": [
                {
                    "id": "335f9c0b0127e39b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "bbcc705c522737fc",
        "type": "subflow",
        "name": "数据包处理",
        "info": "数据流长度是否有效并且把数据包赋给msg的buffers属性上",
        "category": "function",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "dc5a6b7a4dfb6c54"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 60,
                "wires": [
                    {
                        "id": "3bf623869316b8dc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "buffer_length",
                "type": "num",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-cubes",
                    "label": {
                        "zh-CN": "数据包长度"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 1
                    }
                }
            }
        ],
        "meta": {},
        "color": "#a5b4fc"
    },
    {
        "id": "9dcfd15178a871de",
        "type": "subflow",
        "name": "保留JSON指定属性",
        "info": "",
        "category": "parser",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "a73be57b78e44e07"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 40,
                "wires": [
                    {
                        "id": "a73be57b78e44e07",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "props",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-cubes",
                    "label": {
                        "zh-CN": "保留的键（逗号分开）"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#a5b4fc",
        "icon": "font-awesome/fa-filter"
    },
    {
        "id": "1c33954d1b3f8861",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "g": "9fbcae5da98d5adf",
        "name": "光照度数据获取解析示例",
        "style": {
            "stroke": "#9363b7",
            "label": true,
            "color": "#9363b7",
            "label-position": "n"
        },
        "nodes": [
            "896bf0855e6277e9",
            "e42fa0cff1235132",
            "b6add4265a5f0f36",
            "c458a4a7ae8b69dc"
        ],
        "x": 54,
        "y": 359,
        "w": 832,
        "h": 82
    },
    {
        "id": "497514fcc2fe5067",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "g": "9fbcae5da98d5adf",
        "name": "温湿度数据获取解析示例",
        "style": {
            "stroke": "#ffcf3f",
            "label": true,
            "color": "#ffcf3f",
            "label-position": "n"
        },
        "nodes": [
            "c7e9978f3bf248e4",
            "20c1bf0f53b40bba",
            "abcacca608d4ed7f",
            "1adab7068adf3ca4"
        ],
        "x": 54,
        "y": 259,
        "w": 832,
        "h": 82
    },
    {
        "id": "71d9e95a6fcad008",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "g": "9fbcae5da98d5adf",
        "name": "发送到ThingsBoard",
        "style": {
            "stroke": "#addb7b",
            "label": true,
            "color": "#addb7b",
            "label-position": "n"
        },
        "nodes": [
            "1fcc407194ba2ba4",
            "92e7c447c849d547"
        ],
        "x": 914,
        "y": 259,
        "w": 452,
        "h": 82
    },
    {
        "id": "4a57b00d5e73f7ca",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "g": "9fbcae5da98d5adf",
        "name": "发送到ThingsBoard",
        "style": {
            "stroke": "#addb7b",
            "label": true,
            "color": "#addb7b",
            "label-position": "n"
        },
        "nodes": [
            "eea349c21da567ab",
            "d0ef76cfe1aea605"
        ],
        "x": 914,
        "y": 359,
        "w": 452,
        "h": 82
    },
    {
        "id": "4fdb42501c6eb39c",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "378f0e748ba13a06",
            "8bd0c5a936191a8f",
            "0b74790b431f5766"
        ],
        "x": 34,
        "y": 19,
        "w": 412,
        "h": 162
    },
    {
        "id": "9fbcae5da98d5adf",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1c33954d1b3f8861",
            "497514fcc2fe5067",
            "71d9e95a6fcad008",
            "4a57b00d5e73f7ca"
        ],
        "x": 28,
        "y": 233,
        "w": 1364,
        "h": 234
    },
    {
        "id": "43164d691411b98e",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "254ced6934606d41",
            "681b61fe57f6f8f1",
            "386025955fd402a6"
        ],
        "x": 474,
        "y": 19,
        "w": 432,
        "h": 162
    },
    {
        "id": "edc2ff2e7629ee1f",
        "type": "mqtt-broker",
        "name": "emqx的mqtt节点",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "WS-NR-CLIENT",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "30",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "46e3e9b14bc5936a",
        "type": "mqtt-broker",
        "name": "thingsboard的mqtt节点(cca2-1)",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b8d30b2c9e534e5",
        "type": "mqtt-broker",
        "name": "thingsboard的mqtt节点(a48a-2)",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e52488f6ad914c0",
        "type": "buffer-maker",
        "z": "a885ccf612a58001",
        "name": "组成Modbus数据指令",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "设备地址",
                "type": "int8",
                "length": 1,
                "dataType": "env",
                "data": "device_address"
            },
            {
                "name": "功能码",
                "type": "int8",
                "length": 1,
                "dataType": "env",
                "data": "function_code"
            },
            {
                "name": "起始地址",
                "type": "int16be",
                "length": 1,
                "dataType": "env",
                "data": "start_address"
            },
            {
                "name": "读取数量",
                "type": "int16be",
                "length": 1,
                "dataType": "env",
                "data": "read_number"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "dadaf5fa65d51d1f"
            ]
        ]
    },
    {
        "id": "dadaf5fa65d51d1f",
        "type": "modbus-crc16",
        "z": "a885ccf612a58001",
        "name": "添加CRC校验",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "e8c2e4a8a66b3fce"
            ]
        ]
    },
    {
        "id": "e8c2e4a8a66b3fce",
        "type": "mqtt out",
        "z": "a885ccf612a58001",
        "name": "设备网关接收",
        "topic": "${主题}",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edc2ff2e7629ee1f",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "335f9c0b0127e39b",
        "type": "status",
        "z": "a885ccf612a58001",
        "name": "设备网关连接状态",
        "scope": [
            "e8c2e4a8a66b3fce"
        ],
        "x": 830,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dc5a6b7a4dfb6c54",
        "type": "function",
        "z": "bbcc705c522737fc",
        "name": "数据处理",
        "func": "msg.buffers = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "3bf623869316b8dc"
            ]
        ]
    },
    {
        "id": "3bf623869316b8dc",
        "type": "switch",
        "z": "bbcc705c522737fc",
        "name": "判断数据流长度",
        "property": "buffers.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "buffer_length",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a73be57b78e44e07",
        "type": "function",
        "z": "9dcfd15178a871de",
        "name": "保留JSON指定属性",
        "func": "const _ = global.get('lodash');\n\nmsg.parseData = msg.payload;\nmsg.payload = _.pick(msg.payload, _.split(env.get('props'), ','));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "896bf0855e6277e9",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "光照度网关发送",
        "topic": "ws/test/a48a/send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "c458a4a7ae8b69dc"
            ]
        ]
    },
    {
        "id": "e42fa0cff1235132",
        "type": "buffer-parser",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "光照度设备数据解析",
        "data": "buffers",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int8",
                "name": "设备地址",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "功能码",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "数据字节数",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "光照度",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "/1000",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "b6add4265a5f0f36"
            ]
        ]
    },
    {
        "id": "b6add4265a5f0f36",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "数据包起始数据",
        "property": "payload['设备地址']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "d0ef76cfe1aea605"
            ]
        ]
    },
    {
        "id": "378f0e748ba13a06",
        "type": "inject",
        "z": "b4b9370fa496a92d",
        "g": "4fdb42501c6eb39c",
        "name": "定时器",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "8bd0c5a936191a8f",
                "0b74790b431f5766"
            ]
        ]
    },
    {
        "id": "8bd0c5a936191a8f",
        "type": "subflow:a885ccf612a58001",
        "z": "b4b9370fa496a92d",
        "g": "4fdb42501c6eb39c",
        "name": "获取光照度数据",
        "env": [
            {
                "name": "device_address",
                "value": "2",
                "type": "num"
            },
            {
                "name": "start_address",
                "value": "2",
                "type": "num"
            },
            {
                "name": "topic",
                "value": "ws/test/a48a/receive",
                "type": "str"
            },
            {
                "name": "设备地址",
                "value": "2",
                "type": "num"
            },
            {
                "name": "Start Address",
                "value": "2",
                "type": "num"
            },
            {
                "name": "主题",
                "value": "ws/test/a48a/receive",
                "type": "str"
            },
            {
                "name": "起始-地址",
                "value": "1",
                "type": "num"
            },
            {
                "name": "读取-数量",
                "value": "1",
                "type": "num"
            },
            {
                "name": "b",
                "value": "2",
                "type": "str"
            },
            {
                "name": "a",
                "value": "21",
                "type": "num"
            },
            {
                "name": "起始地址",
                "value": "1211312",
                "type": "num"
            },
            {
                "name": "读取数量",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7e9978f3bf248e4",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "温湿度网关发送",
        "topic": "ws/test/cca2/send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "1adab7068adf3ca4"
            ]
        ]
    },
    {
        "id": "20c1bf0f53b40bba",
        "type": "buffer-parser",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "温湿度设备数据解析",
        "data": "buffers",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int8",
                "name": "设备地址",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "功能码",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "数据字节数",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "温度",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "/10",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "湿度",
                "offset": 5,
                "length": 1,
                "offsetbit": 0,
                "scale": "/10",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 560,
        "y": 300,
        "wires": [
            [
                "abcacca608d4ed7f"
            ]
        ]
    },
    {
        "id": "abcacca608d4ed7f",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "数据包起始数据",
        "property": "payload['设备地址']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "92e7c447c849d547"
            ]
        ]
    },
    {
        "id": "0b74790b431f5766",
        "type": "subflow:a885ccf612a58001",
        "z": "b4b9370fa496a92d",
        "g": "4fdb42501c6eb39c",
        "name": "获取温湿度数据",
        "env": [
            {
                "name": "topic",
                "value": "ws/test/cca2/receive",
                "type": "str"
            },
            {
                "name": "主题",
                "value": "ws/test/cca2/receive",
                "type": "str"
            },
            {
                "name": "起始-地址",
                "value": "1",
                "type": "num"
            },
            {
                "name": "读取-数量",
                "value": "1",
                "type": "num"
            },
            {
                "name": "b",
                "value": "2",
                "type": "str"
            },
            {
                "name": "a",
                "value": "21",
                "type": "num"
            },
            {
                "name": "起始地址",
                "value": "1211312",
                "type": "num"
            },
            {
                "name": "读取数量",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "1adab7068adf3ca4",
        "type": "subflow:bbcc705c522737fc",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "",
        "env": [
            {
                "name": "buffer_length",
                "value": "9",
                "type": "num"
            },
            {
                "name": "数据包长度",
                "value": "9",
                "type": "num"
            }
        ],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "20c1bf0f53b40bba"
            ]
        ]
    },
    {
        "id": "c458a4a7ae8b69dc",
        "type": "subflow:bbcc705c522737fc",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "",
        "env": [
            {
                "name": "buffer_length",
                "value": "9",
                "type": "num"
            },
            {
                "name": "数据包长度",
                "value": "9",
                "type": "num"
            }
        ],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "e42fa0cff1235132"
            ]
        ]
    },
    {
        "id": "1fcc407194ba2ba4",
        "type": "mqtt out",
        "z": "b4b9370fa496a92d",
        "g": "71d9e95a6fcad008",
        "name": "",
        "topic": "ws/devices/cca2-1/telemetry",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46e3e9b14bc5936a",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "92e7c447c849d547",
        "type": "subflow:9dcfd15178a871de",
        "z": "b4b9370fa496a92d",
        "g": "71d9e95a6fcad008",
        "name": "数据过滤",
        "env": [
            {
                "name": "props",
                "value": "温度,湿度",
                "type": "str"
            },
            {
                "name": "保留的键",
                "value": "['温度','湿度']",
                "type": "str"
            }
        ],
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "1fcc407194ba2ba4"
            ]
        ]
    },
    {
        "id": "eea349c21da567ab",
        "type": "mqtt out",
        "z": "b4b9370fa496a92d",
        "g": "4a57b00d5e73f7ca",
        "name": "",
        "topic": "ws/devices/a48a-2/telemetry",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b8d30b2c9e534e5",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "d0ef76cfe1aea605",
        "type": "subflow:9dcfd15178a871de",
        "z": "b4b9370fa496a92d",
        "g": "4a57b00d5e73f7ca",
        "name": "数据过滤",
        "env": [
            {
                "name": "props",
                "value": "光照度",
                "type": "str"
            },
            {
                "name": "保留的键",
                "value": "['温度','湿度']",
                "type": "str"
            }
        ],
        "x": 1000,
        "y": 400,
        "wires": [
            [
                "eea349c21da567ab"
            ]
        ]
    },
    {
        "id": "254ced6934606d41",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "g": "43164d691411b98e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "681b61fe57f6f8f1",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "43164d691411b98e",
        "name": "监听温湿度网关上下线",
        "topic": "$SYS/brokers/emqx@127.0.0.1/clients/WS-TEST-CCA2/connected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 60,
        "wires": [
            [
                "254ced6934606d41"
            ]
        ]
    },
    {
        "id": "386025955fd402a6",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "43164d691411b98e",
        "name": "监听光照度网关上下线",
        "topic": "$SYS/brokers/emqx@127.0.0.1/clients/WS-TEST-CCA2/disconnected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "254ced6934606d41"
            ]
        ]
    }
]