flow.json
[
    {
        "id": "b4b9370fa496a92d",
        "type": "tab",
        "label": "获取温湿度计和光照度数据",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "497514fcc2fe5067",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "name": "温湿度数据获取解析示例",
        "style": {
            "stroke": "#ffcf3f",
            "label": true,
            "label-position": "n",
            "color": "#ffcf3f"
        },
        "nodes": [
            "8adaee4ecac4b4da",
            "5a75da0bf13c1171",
            "c7e9978f3bf248e4",
            "20c1bf0f53b40bba",
            "29d416435e5c4a2b",
            "dc5a6b7a4dfb6c54",
            "3bf623869316b8dc",
            "349631054a07613c",
            "abcacca608d4ed7f",
            "1bfa7b4328d4aaf9",
            "3cee25eed797c478"
        ],
        "x": 34,
        "y": 39,
        "w": 1412,
        "h": 142
    },
    {
        "id": "1c33954d1b3f8861",
        "type": "group",
        "z": "b4b9370fa496a92d",
        "name": "光照度数据获取解析示例",
        "style": {
            "stroke": "#9363b7",
            "label": true,
            "label-position": "n",
            "color": "#9363b7"
        },
        "nodes": [
            "3a53bcf640acb8b4",
            "f5aa1fa83d4a7012",
            "896bf0855e6277e9",
            "e42fa0cff1235132",
            "744a0dd9083487ed",
            "f03825e9f3d608e6",
            "9ec7cb4f3e164b8a",
            "391767f7afffaaec",
            "b6add4265a5f0f36",
            "b7df765fc0f7a872"
        ],
        "x": 34,
        "y": 219,
        "w": 1412,
        "h": 142
    },
    {
        "id": "edc2ff2e7629ee1f",
        "type": "mqtt-broker",
        "name": "emqx的mqtt节点",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "WS-NR-CLIENT",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8adaee4ecac4b4da",
        "type": "inject",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "定时器",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "1bfa7b4328d4aaf9"
            ]
        ]
    },
    {
        "id": "5a75da0bf13c1171",
        "type": "mqtt out",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "",
        "topic": "ws/test/cca2/receive",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edc2ff2e7629ee1f",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "c7e9978f3bf248e4",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "温湿度网关发送",
        "topic": "ws/test/cca2/send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "dc5a6b7a4dfb6c54"
            ]
        ]
    },
    {
        "id": "20c1bf0f53b40bba",
        "type": "buffer-parser",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "温湿度设备数据解析",
        "data": "buffers",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int8",
                "name": "设备地址",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "功能码",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "数据字节数",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "温度",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "/10",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "湿度",
                "offset": 5,
                "length": 1,
                "offsetbit": 0,
                "scale": "/10",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "data",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "349631054a07613c"
            ]
        ]
    },
    {
        "id": "29d416435e5c4a2b",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "温湿度数据",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc5a6b7a4dfb6c54",
        "type": "function",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "数据处理",
        "func": "msg.buffers = msg.payload;\nmsg.count = msg.payload.length;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "3bf623869316b8dc"
            ]
        ]
    },
    {
        "id": "3bf623869316b8dc",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "判断数据流长度",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "20c1bf0f53b40bba"
            ]
        ]
    },
    {
        "id": "349631054a07613c",
        "type": "function",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "数据处理",
        "func": "msg.slaveAddress = msg.data['设备地址'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 140,
        "wires": [
            [
                "abcacca608d4ed7f"
            ]
        ]
    },
    {
        "id": "abcacca608d4ed7f",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "判断数据包是否正确",
        "property": "slaveAddress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 140,
        "wires": [
            [
                "29d416435e5c4a2b"
            ]
        ]
    },
    {
        "id": "3a53bcf640acb8b4",
        "type": "inject",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "定时器",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "b7df765fc0f7a872"
            ]
        ]
    },
    {
        "id": "f5aa1fa83d4a7012",
        "type": "mqtt out",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "",
        "topic": "ws/test/a48a/receive",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edc2ff2e7629ee1f",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "896bf0855e6277e9",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "光照度网关发送",
        "topic": "ws/test/a48a/send",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f03825e9f3d608e6"
            ]
        ]
    },
    {
        "id": "e42fa0cff1235132",
        "type": "buffer-parser",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "光照度设备数据解析",
        "data": "buffers",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int8",
                "name": "设备地址",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "功能码",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "int8",
                "name": "数据字节数",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "光照度",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "/1000",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "data",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "391767f7afffaaec"
            ]
        ]
    },
    {
        "id": "744a0dd9083487ed",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "光照度数据",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 320,
        "wires": []
    },
    {
        "id": "f03825e9f3d608e6",
        "type": "function",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "数据处理",
        "func": "msg.buffers = msg.payload;\nmsg.count = msg.payload.length;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "9ec7cb4f3e164b8a"
            ]
        ]
    },
    {
        "id": "9ec7cb4f3e164b8a",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "判断数据流长度",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "e42fa0cff1235132"
            ]
        ]
    },
    {
        "id": "391767f7afffaaec",
        "type": "function",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "数据处理",
        "func": "msg.slaveAddress = msg.data['设备地址'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 320,
        "wires": [
            [
                "b6add4265a5f0f36"
            ]
        ]
    },
    {
        "id": "b6add4265a5f0f36",
        "type": "switch",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "判断数据包是否正确",
        "property": "slaveAddress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "744a0dd9083487ed"
            ]
        ]
    },
    {
        "id": "1bfa7b4328d4aaf9",
        "type": "buffer-maker",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "获取温湿度数据指令",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "设备地址",
                "type": "int8",
                "length": 1,
                "dataType": "num",
                "data": "1"
            },
            {
                "name": "功能码",
                "type": "int8",
                "length": 1,
                "dataType": "num",
                "data": "3"
            },
            {
                "name": "起始地址",
                "type": "int16be",
                "length": 1,
                "dataType": "num",
                "data": "0"
            },
            {
                "name": "读取数量",
                "type": "int16be",
                "length": 1,
                "dataType": "num",
                "data": "2"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "3cee25eed797c478"
            ]
        ]
    },
    {
        "id": "3cee25eed797c478",
        "type": "modbus-crc16",
        "z": "b4b9370fa496a92d",
        "g": "497514fcc2fe5067",
        "name": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "5a75da0bf13c1171"
            ]
        ]
    },
    {
        "id": "b7df765fc0f7a872",
        "type": "buffer-maker",
        "z": "b4b9370fa496a92d",
        "g": "1c33954d1b3f8861",
        "name": "获取光照度数据指令",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "设备地址",
                "type": "int8",
                "length": 1,
                "dataType": "num",
                "data": "2"
            },
            {
                "name": "功能码",
                "type": "int8",
                "length": 1,
                "dataType": "num",
                "data": "3"
            },
            {
                "name": "起始地址",
                "type": "int16be",
                "length": 1,
                "dataType": "num",
                "data": "2"
            },
            {
                "name": "读取数量",
                "type": "int16be",
                "length": 1,
                "dataType": "num",
                "data": "2"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "a167faa7ddba5a83"
            ]
        ]
    },
    {
        "id": "a167faa7ddba5a83",
        "type": "modbus-crc16",
        "z": "b4b9370fa496a92d",
        "name": "",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "f5aa1fa83d4a7012"
            ]
        ]
    }
]