flow.json
[
    {
        "id": "b4b9370fa496a92d",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edc2ff2e7629ee1f",
        "type": "mqtt-broker",
        "name": "node-red的mqtt节点",
        "broker": "127.0.0.1",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "906cbc0663609e9a",
        "type": "aedes broker",
        "z": "b4b9370fa496a92d",
        "name": "MQTT服务器",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "level",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "61b8ce89ed9ab9c1"
            ],
            [
                "e155f47c72df5940"
            ]
        ]
    },
    {
        "id": "61b8ce89ed9ab9c1",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "e155f47c72df5940",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "8adaee4ecac4b4da",
        "type": "inject",
        "z": "b4b9370fa496a92d",
        "name": "获取温湿度数据",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "获取温湿度数据指令",
        "payload": "[1,3,0,0,0,2,196,11]",
        "payloadType": "bin",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "0e19099dcc76fa36",
                "5a75da0bf13c1171"
            ]
        ]
    },
    {
        "id": "0e19099dcc76fa36",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "5a75da0bf13c1171",
        "type": "mqtt out",
        "z": "b4b9370fa496a92d",
        "name": "",
        "topic": "v1/devices/me/rpc/request",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edc2ff2e7629ee1f",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "c7e9978f3bf248e4",
        "type": "mqtt in",
        "z": "b4b9370fa496a92d",
        "name": "",
        "topic": "v1/devices/me/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "edc2ff2e7629ee1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "016565cb9f157507"
            ]
        ]
    },
    {
        "id": "016565cb9f157507",
        "type": "debug",
        "z": "b4b9370fa496a92d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 360,
        "wires": []
    }
]